html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    height: AUTO;
}

.App {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}

.App-body {
    border-top: 8px solid #e57373;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    margin: auto;
}

.firstPost {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}

red {
    color: #e57373;
}

header {
    display: inline-flex;
    margin: 60px;
    font-size: 36px;
    text-align: center;
    font-family: 'Dancing Script';
    color: #424242;
}

header h4 {
    display: inline-flex;
    margin: 0;
    padding-right: 30px;
}

.webbox-shadow {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.box-comment {

    margin-right: 25px;
    margin-left: 25px;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
}

.underline {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #e57373;
    font-family: 'Dancing Script';
    font-size: 1.3rem;
    font-weight: bold;
}

.noUnderline {
    color: #e57373;
    font-family: 'Dancing Script';
    font-size: 1.3rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    /*padding: 10px;*/
}

li {
    margin-left: -10px;
    display: flex;
    border-bottom-color: black;
}

.form-control {
    width: 60%;
}

.cat {
    border: 15px solid rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 40%;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    /*margin: 0 0 20px 0;*/
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    pointer-events: none;
}

/*.input-field label{*/
/*flex-grow: 1;*/
/*}*/
/*.input-field input{*/
/*flex-grow: 1;*/
/*}*/

.input-field input[type=text]:focus:not(.browser-default) {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;

}

/*to nie dziala zmiana koloru label na czerwony*/
.input-field input[type=text]:focus:not(.browser-default) + label {
    color: #e57373;
}

.input-field {
    position: relative;
    margin-top: 1px;
}

.input-field input[type=text] {
    /*margin-top: 10px;*/
    height: 30px;
    padding-left: 5px;

}

.input-field input[type=text] + label {
    top: 5px;
    left: 5px;
}

.comment {
    display: flex;
    align-items: flex-end;
}

.input-left2{
    flex-grow: 3;
    padding-left: 40px;
}

.button-right {
    flex-grow: 1;
}

.App-commentBox p {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
}

.App-commentBox ul li:first-child {
    color: #e57373;
    font-weight: bold;
}

.App-commentBox ul li:nth-child(3) {
    color: #9e9e9e;
    font-weight: lighter;
    font-size: 0.7rem;
}

.btn:hover {
    cursor: pointer;
}

.postAutor {
    color: #e57373;
    font-weight: bold;
}

.postDate {
    color: #9e9e9e;
    font-weight: lighter;
    font-size: 0.7rem;
}

.postDescription {
    color: #e57373;
    text-align: left;
}
.firstPostDescription{
    color: #e57373;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.post {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.postBody {
    text-align: justify;
}

@media only screen and (max-width: 900px) {
    .App-body {
        width: 80%;
    }
    header {
        font-size: 30px;
    }
}
@media only screen and (max-width: 630px) {
    .App{
        padding-top: 20px;
    }
    .App-body {
        width: 90%;
    }
    .App-commentBox p{
        font-size: 20px;
    }
    header {
        font-size: 20px;
        margin: 30px;
    }
    .btn{
        height:36px;
        margin-top: 30px;
    }
    .comment{
        display: block;
        margin-bottom: 0;
    }
    ul{
        padding-top: 0;
    }
    .input-left2{
        padding-left: 15px;
    }
    .box-comment li{
        padding-left: 10px;
    }

}